.main {
    width: 100%;
    height: 100%;
    background-color: rgb(158, 156, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__resAndFav{
        display: flex;
        justify-content: space-between;
        color: white;

        .favorites{
            margin: 30px;
            width: 50%;
            text-align: center;
        }

        .results{
            margin: 30px;
            width: 50%;
            text-align: center;
        }
        .listAnime{
            list-style: none;
        }
        
        .imgAnime{
            width: 150px;
            height: 200px;
            border-radius: 8px;
        }
        

    
    }

}   

.selected img{
    border: black 5px solid;
}












